!!! XML
!!!
%html
  %head
    %title= @title
    %link{ :rel => 'stylesheet', :href => '/css/style.css', :type => 'text/css' }
    /[if IE]
      %link{ :rel => 'stylesheet', :href => '/css/ie.css', :type => 'text/css' }
  %body
    #page
      #header
        %h2= @title
        #menu
          %a{ :href => "/"} Home
          %a{ :href => "/stories"} Stories
          %a{ :href => "/story/add"} Add new Story
      = yield
