!!! XML
!!!
%html
  %head
    %title= @title
    %link{ :rel => 'stylesheet', :href => '/css/style.css', :type => 'text/css' }
    /[if IE]
      %link{ :rel => 'stylesheet', :href => '/css/ie.css', :type => 'text/css' }
  %body
    #header
      %h2= @title
      #menu
        %p
          %a{ :href => "/"} Home
          %a{ :href => "/stories"} Stories
    = yield