#content
  %form{:name => 'story', :method => 'post', :action => '/story/add'}
    %div
      %label{:for => 'title'} Title
      %input{:type => 'text', :name => 'title', :id => 'title'}
    %div
      %label{:for => 'slug'} Slug
      %input{:type => 'text', :name => 'slug', :id => 'slug'}
    %div
      %label{:for => 'body'} Body
      %textarea{ :name => 'body', :id => 'body' }
      %input{:type => 'submit', :value => 'Create'}
